<main class="genre">
  <%- include('genreAndDeveloperEdit', {route: 'developer'}) %>
  <h2>Select a developer</h2>
  <ul class="genre-items">
    <% for (let index = 0; index < data.length; index++) { %>
    <li>
      <a class="genre-link" href="/developer/<%= data[index].id %>">
        <span><%= data[index].name %></span>
      </a>
      <div class="genre-buttons">
        <button
          onclick="goToEditDeveloper('<%= data[index].id %>', '<%= data[index].name %>')"
        >
          <img src="/assets/edit.svg" alt="edit" width="16px" />
        </button>
        <button
          onclick="deleteDeveloper('<%= data[index].id %>', '<%= data[index].name %>')"
        >
          <img src="/assets/delete.svg" alt="delete" width="16px" />
        </button>
      </div>
    </li>
    <% } %>
  </ul>
  <button onclick="goToCreateDeveloper()">create a Genre</button>
  <script defer>
    const dialog = document.querySelector('.update-dialog');
    const dialogClose = document.querySelector('.dialog-close');
    const updateID = document.querySelector('#updateId');
    const nameInput = document.querySelector('#name');
    const updateFrom = document.querySelector('.update-form');
    const submitButton = document.querySelector('button[type=submit]');
    dialogClose.addEventListener('click', (e) => {
      e.preventDefault();
      dialog.close();
    });
    function goToEditDeveloper(id, name) {
      updateID.value = Number(id);
      nameInput.value = name;
      submitButton.innerText = 'UPDATE';
      updateFrom.action = '/developer/update';
      dialog.showModal();
    }
    function goToCreateDeveloper() {
      nameInput.value = '';
      submitButton.innerText = 'CREATE';
      updateFrom.action = '/genre/create';
      dialog.showModal();
    }
    function deleteDeveloper(id, name) {
      if (confirm(`do you wish to delete ${name}`)) {
        location.href = '/developer/delete/' + id;
      }
    }
  </script>
</main>
