<main class="genre">
  <script>
    function goToEdit(id) {
      location.href = '/genre/edit/' + id;
    }

    function deleteGenre(id, name) {
      if (confirm(`do you wish to delete ${name}`)) {
        location.href = '/genre/delete/' + id;
      } else {
        alert('lol');
      }
    }
  </script>
  <h2>Select a Genre</h2>
  <ul class="genre-items">
    <% for (let index = 0; index < data.length; index++) { %>
    <li>
      <a class="genre-link" href="/genre/<%= data[index].id %>">
        <span><%= data[index].name %></span>
      </a>
      <div class="genre-buttons">
        <button onclick="goToEdit('<%= data[index].id %>')">
          <img src="/assets/edit.svg" alt="edit" width="16px" />
        </button>
        <button
          onclick="deleteGenre('<%= data[index].id %>', '<%= data[index].name %>')"
        >
          <img src="/assets/delete.svg" alt="delete" width="16px" />
        </button>
      </div>
    </li>
    <% } %>
  </ul>
</main>
